body {
    overflow: visible;
}

.bg-video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.bg-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

header {
    position: relative;
}

#about {
    background-color: rgba(0, 0, 0, 0.22);
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    top: 10%;
    left: 12%;
    -webkit-box-shadow: 14px 10px 27px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 27px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 10px 27px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 320px) {
    p #about {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1204px) {
    p #about {
        font-size: 1.5em;
    }
    h1 {
        font-size: 100px;
    }
}