#background-image {
    background-image: url("imgs/background-turtle.png");
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
}

#heading,
.introduction {
    animation: load-up 700ms ease-out;
    position: relative;
}

#heading {
    font-size: 100px;
}

h2 {
    animation: load-up 1700ms ease-in-out;
    font-size: 70px;
    position: relative;
    color: #222;
}

.card {
    animation: load-up 2000ms ease-out;
    box-shadow: 10px 10px 17px 1px rgba(18, 15, 15, 0.63);
    -webkit-box-shadow: 10px 10px 17px 1px rgba(18, 15, 15, 0.63);
    -moz-box-shadow: 10px 10px 17px 1px rgba(18, 15, 15, 0.63);
}