* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-size: 1.3em;
}

.btn-outline-warning {
    color: #222;
}

main {
    height: 100%;
    width: 100%;
    color: #fff;
}

#clipped {
    height: 100%;
    width: 100%;
    background-color: #333;
    clip-path: circle(60.4% at 32% 34%);
}

#intro-text {}