* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    height: 100vh;
    /* overflow: hidden; */
    font-size: 1.2em;
}


/* Navbar */

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.btn-outline-warning {
    color: #222;
}


/* applicable for all headings */

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    letter-spacing: 2px;
}


/* Animations */

@keyframes load-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}