.workExpCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    margin: 5em 0;
    min-height: 90vh;
}

h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    text-wrap: wrap;
    margin-bottom: 1em;
    font-size: 3em;
}

.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    margin: 1.2em 0;
}

.left,
.right {
    width: 50%;
}

@media screen and (max-width: 890px) {
    .experience {
        flex-direction: column;
    }

    .right {
        margin-top: 1em;
        width: 100%;
    }

    .left {
        width: 100%;
    }

    h2 {
        font-size: 2em;
    }
}

.title,
.duration {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-wrap: wrap;
    margin-bottom: 0;
}

.title {
    font-size: 1.3em;
    width: 80%;
}

.description {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    text-align: left;
}

.fly-up-text {
    opacity: 0;
    transform: translateY(30px);
    animation: flyUp 1.5s ease-out forwards;
}

@keyframes flyUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}