.footer{
    min-height: 60vh;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.about, .contact {
    /* Text styles */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.1em;
    text-align: left;

    /* Size */
    width: 60%;
    text-wrap: wrap;

    /* Position */
    margin: 1.5em 0;
}

h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    text-wrap: wrap;
    font-size: 3em;
    margin-bottom: 0;
}

.contact a, h2{
    text-decoration: underline;
    font-weight: 200;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    color: #000;
}

.contact a{
    transition: color 0.2s ease;
}

.contact a:hover {
    color: #0073b1;
    /* LinkedIn blue ;) */
}

@media screen and (max-width: 890px) {
    h2{
        font-size: 2em;
    }

    .about, .contact{
        font-size: 1.3em;
    }
}